*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'russel';
    src: url('./font/RusselSquareOpti.otf');
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'russel';
}

.container{
    width: 500px;
    background-color: #A279AA;
    text-align: center;
    padding: 50px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 85px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.timer__item input{
    all: unset;
    width: 80px;
    height: 50px;
    border-radius: 5px;
    background-color: #F5B8B6;
    text-align: center;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    margin: 20px 0;
}
.col{
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
sub{
    font-size: 20px;
    align-self: flex-end;
}
button{
    all: unset;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    cursor: pointer;
    background-color: #7c9a92;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: all 0.3s ease-in-out;
}
button i{
    font-size: 25px;
}
button:hover{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px inset;
}
#reset{
    background-color: #f1cb95;
}
#start{
    background-color: #7cf1a7;
}
#stop{
    background-color: #e97ca4;
}
